# App
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=tne_user
DB_PASSWORD=tne_password
DB_NAME=tne_db

# JWT
JWT_SECRET=supersecretkey123
JWT_EXPIRES_IN=1d

# Para docker-compose health check
POSTGRES_USER=tne_user